/* Gruvbox Dark Wofi Theme */

* {
  background: transparent;
  color: #ebdbb2;
}

#window {
  color: #ebdbb2;
  border-color: #7c6f64;
  border-style: solid;
  border-width: 1px;

  /* solid background via gradient for cleaner rounded corners */
  background-image: linear-gradient(to bottom, #282828 100%);
  border-radius: 14px;
}

#scroll {
  border-top-style: solid;
  border-width: 1px;
  border-color: #3c3836;
}

#inner-box {
  padding-top: 12px;
}

#entry {
  border-style: none;
  border-color: #ebdbb2;
  color: #ebdbb2;
  padding: 6px;
  margin-bottom: 8px;
  margin-left: 12px;
  margin-right: 12px;

  border-radius: 12px;
}

#entry:selected {
  background: #458588;
  color: #fbf1c7;
  font-weight: bold;
  outline: none;
}

#input {
  background-color: #1d2021;
  color: #ebdbb2;
  border-color: #7c6f64;

  border-style: none;
  border-bottom-style: solid;
  border-width: 1px;

  font-style: normal;

  border-radius: 8px;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;

  padding: 12px;
  margin: 8px;
}

#input:focus {
  background: #3c3836;
  border-color: #83a598;
  font-style: italic;
}

#img {
  padding: 4px;
  margin-right: 6px;
}