* {
  font-family: Maple Mono;
  background: transparent;
  color: #F8F0E1;
}

#window {
  color: #F8F0E1;
  border-color: #F8F0E1;
  border-style: solid;
  border-width: 1px;

  /*Linear gradient background instead of standard background, because it makes cleaner border-radius cuts, issa bug :p*/
  background-image: linear-gradient(to bottom, #001427 100%);
  border-radius: 14px;
}

#scroll {
  border-top-style: solid;
  border-width: 1px;
  border-color: #F8F0E1;
}

#inner-box {
  padding-top: 12px;
}

#entry {
  border-style: none;
  border-color: #F8F0E1;
  color: #F8F0E1;
  padding: 6px;
  margin-bottom: 8px;
  margin-left: 12px;
  margin-right: 12;

  border-radius: 12px;
}

#entry:selected {
  background: #004068;
  color: #F8F0E1;
  font-weight: bold;
  outline: none;
}

#input {
  background-color: #001427;
  color: #F8F0E1;
  border-color: #F8F0E1;

  border-style: none;
  border-bottom-style: solid;
  border-width: 1px;

  font-style: normal;

  border-radius: 8;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;

  padding: 12px;
  margin: 8px;
}

#input:focus {
  background: #004068;
  background-color: #004068;
  border-color: #52B3BC;
  font-style: italic;
}

#img {
  padding: 4px;
  margin-right: 6px;
}